.classpath
.project
.idea
.settings
target
*.iml
.idea
build/
.gradle/
local.properties
pom.xml.versionsBackup

apps/android-basic/project.properties
apps/android-basic/bin/classes/
apps/android-basic/gen/com/magnet/app/mmxclient/
